langchain_community.vectorstores
langchain_community.chat_message_histories
langchain_core.prompts
langchain_core.runnables.history
langchain_openai 
langchain.chains 
langchain.chains.combine_documents